#cards-grid-container {
  padding: var(--sizeM) 0;
  display: flex;
  justify-content: center;
}

#cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: var(--sizeXxl);
  max-width: 100%;
}

@media (min-width: 768px) {
  #cards-grid-container {
    padding: 4.8rem 0;
  }

  #cards-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 4.8rem;
    max-width: 1200px;
  }
}
